# Plantilla de variables de entorno para desarrollo local
# Copia este archivo, renombralo a '.env' y ajusta los valores si es necesario

DB_HOST=localhost
DB_PORT=5435
DB_USER=pepe_admin
DB_PASSWORD=supersecretpassword
DB_DATABASE=escuela_db
